{
    "region": "ap-south-1",
    "availability_zones_count": 2,
    "db_name": "appdb",
    "db_username": "<USERNAME>",
    "db_password": "<PASSWORD>",
    "key_path": "~/.ssh/awskey.pub",
    "s3_bucket_name": "registry-bucket-backend",
    "registry_port": 5000,
    "output_cert_path": "/home/neeraj/projects/devops-roadmap/ansible/cert"
}